$transition: all 0.5s ease;
 
html {
    height: 100%;
    body {
        background: url(../img/bg_html.png) no-repeat;
        background-size: cover;
        height: 100%;
        
    }
}
canvas{
    width: 100%;
     height: 100%;
            border: 1px dashed #460800;
            border-radius: 4px;
}
.container{
    min-width: 992px;
    max-width: 1200px
}

.grid{
    height: 96%;
    width: 100%;
    div{
        .col-xs-6, .col-xs-12{
           height: 100%
        }
    }
    .row_1{
        height: 99%;
        margin: 1% 0;
    }
    .row_2{
        height: 49%;
        margin: 1% 0;
    }
    .row_3{
        height: 31%;
        margin: 1% 0;
    }
}

.menu_setting>ul>li>a:hover .bg_menu_hover{
    background-position: 0px -43px;
}

.bg_blocks {
    background: url(../img/orange-fon.png);
    border: 2px solid #dc5924;
    border-radius: 4px;
}

.apply_middle {
    background: url(../img/button_apply_middle.png);
    font-size: 10px;
    width: 86px;
    height: 25px;
    color: #fff;
    outline: none;
    border: none;
    padding-left: 0px;
    box-shadow: 3px 3px 12px 1px #000;
}

.button_big_onoff {
    position: relative;
    z-index: 2;
    background: url(../img/off_bag.png) 0px -3px no-repeat;
    width: 128px;
    border: 1px solid #dc7c1d;
    height: 24px;
    margin-top: 10px;
    display: inline-block;
    span {
        position: absolute;
        top: 0px;
        font-size: 9px;
        margin: 6px 0px 0px 5px;
    }
    span.green {
        color: #71d621
    }
    button {
        background: url(../img/button-big.png) no-repeat;
        width: 123px;
        height: 21px;
        position: absolute;
        z-index: 1;
        border: 0px;
        outline: none;
        top: 0px;
        left: 1px;
        text-align: left;
        padding: 0px 0px 3px 27px;
        color: #fff;
        font-size: 9px;
        border-top: 1px solid #642900;
        box-shadow: 0px 3px 13px 0px #000;
    }
}

.button_big {
    position: relative;
    z-index: 2;
    background: url(../img/bg_input.png) no-repeat;
    width: 128px;
    padding: 17px 0px;
    margin-top: 10px;
    display: inline-block;
    span {
        position: absolute;
        top: 0px;
        font-size: 9px;
        margin: 6px 0px 0px 5px;
    }
    span.green {
        color: #71d621
    }
    button {
        overflow: hidden;
        background: url(../img/button-big.png) no-repeat;
        width: 123px;
        height: 18px;
        position: absolute;
        z-index: 1;
        border: 0px;
        outline: none;
        top: 2px;
        left: 1px;
        text-align: left;
        padding: 0px 0px 3px 27px;
        color: #fff;
        font-size: 9px;
    }
}

.button {
    position: relative;
    z-index: 2;
    background: url(../img/off_bag.png) no-repeat;
    width: 62px;
    padding: 17px 0px;
    margin-top: 10px;
    button {
        background: url(../img/button_small_off.png) no-repeat;
        width: 58px;
        height: 22px;
        position: absolute;
        z-index: 1;
        border: 0px;
        outline: none;
        top: 2px;
        left: 1px;
    }
}

.h3_border {
    margin: 0px 0px 10px 0px;
    border-bottom: 2px dashed #d4511d;
    color: #7d3e18;
    padding: 10px;
    font-size: 14px;
}

.inputs {
    background: url(../img/bg_input.png) center no-repeat;
    color: #fff;
    border: none;
    height: 24px;
    padding-left: 10px;
    background-size: cover;
}

.save {
    button {
        background: url(../img/export_import.png) no-repeat;
        border: none;
        width: 118px;
        height: 40px;
        padding-left: 0px;
        margin-left: 17px;
    }
    button:hover {
        background-position: -118px 0px;
    }
}

#top_menu {
    height: 30px;
    .top_button:hover{
        cursor: pointer;
    }
    .top_button {
        width: 100%;
        height: 30px;
        background: rgb(0,0,0); 
        background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 50%, rgba(0,0,0,1) 100%); 
        background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(255,255,255,1) 47%,rgba(255,255,255,1) 50%,rgba(0,0,0,1) 100%); 
        background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(255,255,255,1) 47%,rgba(255,255,255,1) 50%,rgba(0,0,0,1) 100%); 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); 
        position: absolute;
        z-index: 2;
        span {
            line-height: 30px;
            margin-left: 20px;
            font-weight: bold;
            font-size: 15px;
        }
        .arrow_top {
            background: url(../img/arrow.png) no-repeat;
            width: 12px;
            height: 16px;
            margin: 0 auto;
            position: relative;
            margin-top: -22px;
            transform: rotate(90deg);
        }
       
    }
    .right_arrow_menu {
        z-index: 9;
        width: 40px;
        height: 30px;
        background: rgb(108,65,31);
        background: -moz-linear-gradient(top,  rgba(108,65,31,1) 0%, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 50%, rgba(108,65,31,1) 100%);
        background: -webkit-linear-gradient(top,  rgba(108,65,31,1) 0%,rgba(255,255,255,1) 47%,rgba(255,255,255,1) 50%,rgba(108,65,31,1) 100%);
        background: linear-gradient(to bottom,  rgba(108,65,31,1) 0%,rgba(255,255,255,1) 47%,rgba(255,255,255,1) 50%,rgba(108,65,31,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c411f', endColorstr='#6c411f',GradientType=0 );
        position: absolute;
        right: 0px;
        top: 0px;
        .arrow_top_bar {
            background: url(../img/arrow.png) no-repeat;
            width: 12px;
            height: 16px;
            margin: 0 auto;
            position: relative;
            transform: rotate(0deg);
            top: 6px;
        }
    }
    .right_arrow_menu:hover{
        cursor: pointer;
    }
    .menu {
        background: url(../img/menu_bag.png) no-repeat;
        width: 380px;
        height: 67px;
        position: absolute;
        left: 0px;
        right: 0px;
        top: -67px;
        margin: 0 auto;
        z-index: 1;
        ul {
            padding: 0px 0px 0px 35px;
            margin: 0px;
            li {
                display: inline-block;
                margin: 5px;
                a {
                    background-repeat: no-repeat;
                    width: 50px;
                    height: 50px;
                    display: block;
                }
                .menu_1 {
                    background: url(../img/setting_03.png);
                }
                .menu_2 {
                    background: url(../img/setting_05.png);
                }
                .menu_3 {
                    background: url(../img/setting_07.png)
                }
                .menu_4 {
                    background: url(../img/setting_09.png)
                }
                .menu_5 {
                    background: url(../img/setting_11.png);
                }
                .listDisplay{
                    display: none;
                    position: absolute;
                    padding: 0px;
                    width: 55px;
                    text-align: center;
                    background: url(../img/orange-fon.png) no-repeat;
                    margin-top: 11px;
                    font-size: 17px;
                    li{
                        color: #fff;
                        width: 100%;
                        padding: 5px 0px;
                        transition: $transition;
                        margin: 0px;
                    }
                    li:hover{
                        background: darkgoldenrod;
                        color: #000;
                        transition: $transition;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

#bar_nav {
    position: fixed;
    right: 0;
    width: 220px;
    top: 50px;
    right: -220px;
    z-index: 10;
    .bar {
        ul {
            padding: 0px;
            margin: 0px;
            .on_tab{
                display: block;
            }
            .open_tab:hover{
                cursor: pointer;
            }
            .nav_cams:before {
                content: '';
                background: url(../img/menu_cam.png);
                position: absolute;
                left: 10px;
                display: block;
                width: 20px;
                height: 14px;
                top: 4px;
            }
            li {
                background: url(../img/list_bag.png) no-repeat;
                width: 220px;
                min-height: 27px;
                margin-bottom: 5px;
                font-size: 16px;
                font-weight: bold;
                padding-left: 60px;
                position: relative;
                z-index: 2;
                list-style-type: none;
                color: #331703;
                margin-left: -1px;
                
            }
            ul {
                display: none;
                background: url(../img/orange-fon.png) no-repeat;
                position: relative;
                z-index: 1;
                width: 219px;
                margin-top: -10px;
                padding-top: 10px;
                h4:before {
                    content: "";
                    background: url(../img/cam.png) no-repeat;
                    width: 30px;
                    height: 30px;
                    display: block;
                    position: absolute;
                    left: 10px;
                }
                h4:hover{
                    cursor: default;
                }
                h4 {
                    margin: 0px;
                    padding-left: 50px;
                    color: #7d3e18;
                     -moz-user-select: none;
                    -khtml-user-select: none;
                    -webkit-user-select: none;
                    user-select: none; 
                }
                li:hover{
                    cursor: pointer;
                }
                li {
                    background: none;
                    padding-left: 10px;
                    font-size: 15px;
                    padding-left: 50px;
                    line-height: 35px;
                    color: #7d3e18;
                    -moz-user-select: none;
                    -khtml-user-select: none;
                    -webkit-user-select: none;
                    user-select: none; 
                    img {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}

#info_sistem {
    .info_bg {
        background: url(../img/bg_left_menu.png) no-repeat;
        width: 242px;
        height: 402px;
        margin: 10px 0px 0px;
        .header_menu {
            h3 {
                position: relative;
                top: 27px;
                left: 57px;
                font-size: 18px;
                color: #9b874a;
                margin: 0px;
            }
            img {
                float: right;
                position: relative;
                right: 55px;
            }
        }
        .info_left_bar {
            max-width: 206px;
            margin: 45px auto 0px;
            img {
                margin: 6px 0px 0px 13px;
            }
            h3 {
                margin: 5px 0px 0px 0px;
                color: #7d3e18;
                text-align: center;
                font-size: 19px;
            }
            p {
                text-align: center;
                padding-right: 3px;
                color: #fff;
            }
        }
        .set_left_bar {
            max-width: 206px;
            margin: 5px auto 0px;
            padding: 0px 10px;
            ul {
                margin: 0px;
                padding: 0px;
                li {
                    list-style-type: none;
                    img {
                        vertical-align: top;
                        margin-top: 15px;
                        margin-right: 15px;
                    }
                }
            }
        }
    }
    .menu_setting {
        background: url(../img/bg_menu_set.png) no-repeat;
        background-size: cover;
        height: 43px;
        margin: 10px 0px;
        ul {
            li {
                line-height: 43px;
                display: inline-block;
                a {
                    color: #7d3e18
                }
            }
        }
    }
}

#setting_rec {
    display: block;
    .lang_set {
        padding: 9.5px;
        border-radius: 3px;
        margin-bottom: 5px;
        display: inline-block;
        width: 100%;
        span {
            display: inline-block;
            margin: 0px;
            color: #7d3e18;
            font-size: 14px;
        }
        ul {
            padding: 0px;
            margin: 0px;
            float: right;
            li {
                list-style-type: none;
                display: inline-block;
                a {
                    img {
                        width: 75%;
                    }
                }
            }
        }
    }
    .server_set {
        padding: 10px 0px;
        border-radius: 3px;
        margin-bottom: 5px;
        display: inline-block;
        width: 100%;
        .server_info {
            span {
                color: #fff;
                font-size: 13px;
            }
            input {
                max-width: 126px;
                float: right;
            }
        }
        button {
            margin-top: 75px;
        }
        img {
            margin-top: 10px;
        }
    }
    .lic_set {
        padding-bottom: 10px;
        margin-bottom: 5px;
        display: inline-block;
        width: 100%;
        .lic_info {
            p {
                line-height: 26px;
                color: #fff;
                font-size: 13px;
            }
            input {
                max-width: 126px;
                margin-bottom: 12px;
            }
        }
        button {
            margin-top: 17px;
        }
        img {}
    }
    .flow_set {
        width: 100%;
        border-radius: 3px;
        margin-bottom: 5px;
        display: inline-block;
        span {
            color: #7d3e18;
            line-height: 60px;
        }
        .button {
            margin-top: 15px;
        }
    }
    .auto_set {
        display: inline-block;
        border-radius: 3px;
        margin-bottom: 10px;
        padding-bottom: 5px;
        .auto_info {
            span {
                font-size: 13px;
                color: #fff;
            }
            input {
                float: right;
            }
            button {
                margin-top: 43px;
            }
            img {
                margin-top: 10px;
            }
        }
    }
    .tuning_set {
        border-radius: 3px;
        margin-bottom: 5px;
        width: 100%;
        .button_block {
            padding: 0px 15px 15px 15px;
            display: inline-block;
            button {
                background: url(../img/export_import.png) no-repeat;
                border: none;
                width: 118px;
                height: 40px;
                padding-left: 0px;
            }
            button:hover {
                background-position: -118px 0px;
            }
        }
    }
}

#setting_mag {
    display: none;
    .log_url {
        display: inline-block;
        height: 60px;
        width: 100%;
        span {
            line-height: 60px;
            color: #fff;
        }
        input {
            margin-top: 18px;
        }
    }
    .rec_event {
        height: 60px;
        text-align: center;
        padding-top: 7px;
    }
    .block_set_mag {
        padding: 15px 30px;
        ul {
            padding: 0px;
            margin: 0px;
            li {
                list-style-type: none;
            }
        }
    }
}

#users {
        display: none;
    .user {
        max-width: 140px;
        height: 140px;
        margin-bottom: 20px;
        padding-bottom: 5px;
        img {
            width: 70%;
            margin: 0 auto;
            display: block;
        }
        h3 {
            text-align: center;
            color: #7d3e18;
            font-size: 19px;
            margin: 0px;
        }
    }
    .bg_users {
        border: 1px solid #dc5924;
        border-radius: 4px;
        background: rgba(255, 255, 255, 0.12);
        h3 {
            color: #fff;
            font-weight: 400;
        }
    }
    .users_panel {
        height: 75px;
        padding: 20px;
        input {
            width: 100%;
            color: #fff;
            padding-left: 10px;
        }
        img {
            position: relative;
            top: -55px;
            right: 55px;
        }
        .users_but {
            background: url(../img/export_import.png) -2px 0px no-repeat;
            border: none;
            height: 30px;
            margin-left: 5px;
        }
    }
}

#rec_set {
    display: none;
    .bat_info {
        margin-bottom: 5px;
        width: 100%;
        display: inline-block;
        .center {
            width: 50%;
            margin: 0 auto;
            display: block;
            img {
                margin-bottom: 10px;
            }
            span {}
        }
    }
    .rewrite_disk {
        margin-bottom: 5px;
        width: 100%;
        display: inline-block;
        .rewrite_set {
            .img_button:hover {
                cursor: pointer;
            }
            ul {
                li {}
            }
            img {}
        }
    }
    .rec_before,
    .rec_after {
        margin-bottom: 5px;
        width: 100%;
        display: inline-block;
        p {
            display: inline-block;
            margin: 20px 10px 20px 10px;
        }
        select {
            float: right;
            margin: 20px 10px 20px 10px;
        }
    }
    .rec_after {
        margin-bottom: 50px;
    }
    .rewrite_disk {
        margin-bottom: 5px;
        width: 100%;
        display: inline-block;
        .img_button {
            background: url(../img/kalash_03.png) no-repeat;
            float: left;
            width: 120px;
            height: 53px;
        }
        .rewrite_set {
            ul {
                padding: 0px 0px 0px 10px;
                display: inline-block;
                vertical-align: top;
                li {
                    list-style-type: none;
                }
            }
            img {
                float: right;
                margin-right: 10px;
            }
        }
    }
    .leave_mem {
        margin-bottom: 5px;
        width: 100%;
        display: inline-block;
        .apply_middle {}
        input {
            margin-left: 10px;
        }
        button {
            margin: 0px 10px 10px 0px;
            float: right;
        }
    }
    .hvs_video {
        margin-bottom: 5px;
        width: 100%;
        display: inline-block;
        h3 {}
    }
    .max_size_file {
        margin-bottom: 5px;
        width: 100%;
        display: inline-block;
        p {
            display: inline-block;
            margin: 20px 10px 20px 10px;
        }
        input {
            float: right;
            width: 100px;
            margin: 20px 10px 20px 10px;
        }
    }
}